$background-color: #111827;
$primary-color: #2b3849;
$secondary-color: #52515e;
$border-color: #f472b6;

* {
  margin: 0;
  padding: 0;
}

.main__container {
  height: 100vh;
  align-items: center;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: $background-color;

  .users__container {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 40px;
    border: 13px double $border-color;
    border-radius: 30px;
    .users__title {
      margin: 20px 0 20px 0;
      text-align: center;
    }

    ul {
      margin: 40px 0 0 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;

      .users__item {
        position: relative;
        min-width: 200px;
        max-width: 250px;
        margin-bottom: 10px;
        padding: 8px;
        text-align: center;
        border-radius: 8px;
        cursor: move;
        background-color: $primary-color;
        transition: background-color 0.5s;

        .users__info {
          display: none;
          width: 250px;
          overflow-wrap: break-word;
          background-color: $secondary-color;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          left: 220px;

          &.show {
            display: block;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
          }

          p {
            color: $border-color;
            font-weight: bold;
          }
        }
        &:hover {
          background-color: lighten($primary-color, 20%);
        }
      }
    }
  }

  .display__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    span {
      margin: 0 7px;
      padding: 5px 10px;
      background-color: $primary-color;
      border-radius: 6px;
      &:hover,
      &.active {
        cursor: pointer;
        background-color: lighten($primary-color, 7%);
        color: $border-color;
        border: 1px solid $border-color;
      }
    }
  }

  .pagination__container {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 10px;
    }
    #pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      list-style-type: none;

      li {
        margin-right: 7px;
        padding: 10px;
        border-radius: 5px;
        background-color: $primary-color;

        &:hover,
        &.active {
          cursor: pointer;
          background-color: lighten($primary-color, 7%);
          color: $border-color;
          border: 1px solid $border-color;
        }
      }
    }
  }
}
