* {
  margin: 0;
  padding: 0;
}

.main__container {
  height: 100vh;
  align-items: center;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: #111827;
}
.main__container .users__container {
  width: 400px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 40px;
  border: 13px double #f472b6;
  border-radius: 30px;
}
.main__container .users__container .users__title {
  margin: 20px 0 20px 0;
  text-align: center;
}
.main__container .users__container ul {
  margin: 40px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.main__container .users__container ul .users__item {
  position: relative;
  min-width: 200px;
  max-width: 250px;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  cursor: move;
  background-color: #2b3849;
  transition: background-color 0.5s;
}
.main__container .users__container ul .users__item .users__info {
  display: none;
  width: 250px;
  overflow-wrap: break-word;
  background-color: #52515e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  left: 220px;
}
.main__container .users__container ul .users__item .users__info.show {
  display: block;
  animation: fadeIn 1s;
}
.main__container .users__container ul .users__item .users__info p {
  color: #f472b6;
  font-weight: bold;
}
.main__container .users__container ul .users__item:hover {
  background-color: #516989;
}
.main__container .display__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.main__container .display__container span {
  margin: 0 7px;
  padding: 5px 10px;
  background-color: #2b3849;
  border-radius: 6px;
}
.main__container .display__container span:hover, .main__container .display__container span.active {
  cursor: pointer;
  background-color: #38495f;
  color: #f472b6;
  border: 1px solid #f472b6;
}
.main__container .pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .pagination__container p {
  margin: 0 10px;
}
.main__container .pagination__container #pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}
.main__container .pagination__container #pagination li {
  margin-right: 7px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2b3849;
}
.main__container .pagination__container #pagination li:hover, .main__container .pagination__container #pagination li.active {
  cursor: pointer;
  background-color: #38495f;
  color: #f472b6;
  border: 1px solid #f472b6;
}
.main__container .sort__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.main__container .sort__container span {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #2b3849;
}
.main__container .sort__container span.disable {
  display: none;
}
.main__container .sort__container span:hover, .main__container .sort__container span.active {
  cursor: pointer;
  background-color: #38495f;
  border: 1px solid #f472b6;
}
.main__container .sort__container span:last-child {
  background-color: #f793c7;
  color: #2b3849;
}/*# sourceMappingURL=styles.css.map */